*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
:root {
  --bg-color: #212529;
  --border-color: #666;
  --font-color: #f1f5f9;
  --primary-color: #4dff91;
  --error-color: #ff0043;
}

body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: "Ubuntu", sans-serif;
}

main {
  display: block;
  margin: 0 auto;
  max-width: 40rem;
  padding: 0 1.5rem 2.5rem;
  position: relative;
}

header {
  padding: 2rem 0;
}

#themeSwitcher, #start, #restartBttn {
  background-color: var(--bg-color);
  border: .125rem solid var(--font-color);
  color: var(--font-color);
}

#themeSwitcher:hover, #start:hover, #restartBttn:hover {
  background-color: var(--font-color);
  color: var(--bg-color);
}

button {
  background-color: var(--primary-color);
  border: none;
  border-radius: .25rem;
  font-weight: 700;
  padding: .5rem 1rem;
  transition: .15s;
}

#keys {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 2rem 0;
  filter: blur(4px);
}

#keys button {
  color: var(--bg-color);
  cursor: pointer;
  font-size: 1.5rem;
  padding: 1rem;
  height: 20vh;
  width: 20vh;
}

#keys button:hover {
  filter: brightness(0.8);
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.error {
  background-color: var(--error-color);
}

.success {
  border-color: var(--primary-color) !important;
  color: var(--primary-color) !important;
}